In [1]:
import pandas as pd

In [5]:
filepath = '../data/train_triplets.txt'

In [6]:

triplet_dataset = pd.read_csv(filepath_or_buffer = filepath,nrows = 10000,sep = '\t',names = ['user','song','play_count'])

In [7]:
#Sample rows of Echnoest taste profile dataset
triplet_dataset.head()

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [9]:
#Determine how many unique users does the dataset have. 
#So we concentrate on users that consitute to a large percentage of play counts
#Due to the large size of the file, we will read it line by line
#We will then extract play count information on a user(or song)


output_dict = {}

with open(filepath) as f:
    for line_number,line in enumerate(f):
        user = line.split('\t')[0]
        play_count = int(line.split('\t')[2])
        if user in output_dict:
            play_count += output_dict[user]
            output_dict.update({user:play_count})
        output_dict.update({user:play_count})
    output_list = [{'user':k,'play_count':v} for k,v in output_dict.items()]
    play_count_df = pd.DataFrame(output_list)
    play_count_df = play_count_df.sort_values(by='play_count',ascending = False)
    play_count_df.to_csv(path_or_buf = '../data/user_playcount_df.csv',index = False)

In [10]:
play_count_df.head()

                                            user  play_count
669980  093cb74eb3c517c5179ae24caf0ebec51b24d2a2       26264
402687  119b7c88d58d0c6eb051365c103da5caf817bea6       19768
964856  3fa44653315697f42410a30cb766a4eb102080bb       16420
462404  a2679496cd0af9779a92a13ff7c6af5c81ea8c7b       14030
991089  d7d2d888ae04d16e994d6964214a1de81392ee04       12988

In [11]:
play_count_df = play_count_df.reset_index()
play_count_df.head()

    index                                      user  play_count
0  669980  093cb74eb3c517c5179ae24caf0ebec51b24d2a2       26264
1  402687  119b7c88d58d0c6eb051365c103da5caf817bea6       19768
2  964856  3fa44653315697f42410a30cb766a4eb102080bb       16420
3  462404  a2679496cd0af9779a92a13ff7c6af5c81ea8c7b       14030
4  991089  d7d2d888ae04d16e994d6964214a1de81392ee04       12988

In [12]:
play_count_df.drop(columns = 'index',inplace = True)

In [13]:
play_count_df.head()

                                       user  play_count
0  093cb74eb3c517c5179ae24caf0ebec51b24d2a2       26264
1  119b7c88d58d0c6eb051365c103da5caf817bea6       19768
2  3fa44653315697f42410a30cb766a4eb102080bb       16420
3  a2679496cd0af9779a92a13ff7c6af5c81ea8c7b       14030
4  d7d2d888ae04d16e994d6964214a1de81392ee04       12988

In [ ]:
#Find