In [1]:
import pandas as pd

In [2]:
filepath = '../data/train_triplets.txt'

In [3]:

triplet_dataset = pd.read_csv(filepath_or_buffer = filepath,header = None,sep = '\t',names = ['user','song','play_count'])

In [4]:
#Sample rows of Echnoest taste profile dataset
triplet_dataset.head()

                                       user                song  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [5]:
triplet_dataset.shape

(48373586, 3)

In [6]:
#Determine how many unique users does the dataset have. 
#So we concentrate on users that consitute to a large percentage of play counts
#Due to the large size of the file, we will read it line by line
#We will then extract play count information on a user


output_dict = {}

with open(filepath) as f:
    for line_number,line in enumerate(f):
        user = line.split('\t')[0]
        play_count = int(line.split('\t')[2])
        if user in output_dict:
            play_count += output_dict[user]
            output_dict.update({user:play_count})
        output_dict.update({user:play_count})
    output_list = [{'user':k,'play_count':v} for k,v in output_dict.items()]
    user_count_df = pd.DataFrame(output_list)
    user_count_df = user_count_df.sort_values(by='play_count',ascending = False)
    user_count_df = user_count_df.reset_index()
    user_count_df.drop(columns = 'index',inplace = True)
    user_count_df.to_csv(path_or_buf = '../data/user_playcount_df.csv',index = False)

In [7]:
user_count_df.head()

                                       user  play_count
0  093cb74eb3c517c5179ae24caf0ebec51b24d2a2       13132
1  119b7c88d58d0c6eb051365c103da5caf817bea6        9884
2  3fa44653315697f42410a30cb766a4eb102080bb        8210
3  a2679496cd0af9779a92a13ff7c6af5c81ea8c7b        7015
4  d7d2d888ae04d16e994d6964214a1de81392ee04        6494

In [8]:
#Determine how many unique songs does the dataset have. 
#So we concentrate on songs that consitute to a large percentage of play counts
#Due to the large size of the file, we will read it line by line
#We will then extract play count information on a song


output_dict = {}

with open(filepath) as f:
    for line_number,line in enumerate(f):
        song = line.split('\t')[1]
        play_count = int(line.split('\t')[2])
        if song in output_dict:
            play_count += output_dict[song]
            output_dict.update({song:play_count})
        output_dict.update({song:play_count})
    output_list = [{'song':k,'play_count':v} for k,v in output_dict.items()]
    song_count_df = pd.DataFrame(output_list)
    song_count_df = song_count_df.sort_values(by='play_count',ascending = False)
    song_count_df = song_count_df.reset_index()
    song_count_df.drop(columns = 'index',inplace = True)
    song_count_df.to_csv(path_or_buf = '../data/song_playcount_df.csv',index = False)

In [9]:

song_count_df.head()

                 song  play_count
0  SOBONKR12A58A7A7E0      726885
1  SOAUWYT12A81C206F1      648239
2  SOSXLTC12AF72A7F54      527893
3  SOFRQTD12A81C233C0      425463
4  SOEGIYH12A6D4FC0E3      389880

In [10]:
user_count_df.shape

(1019318, 2)

In [11]:
song_count_df.shape

(384546, 2)

In [12]:
#Determining Number of users (n) accounting to 40% of play counts
total_play_count = sum(user_count_df.play_count)
(float(user_count_df.head(n=100000).play_count.sum())/total_play_count)*100

40.8807280500655

In [13]:
#Determining Number of songs (n) accounting to 80% of play counts
total_play_count = sum(song_count_df.play_count)
(float(song_count_df.head(n=30000).play_count.sum())/total_play_count)*100

78.39315366645269

In [14]:
#Subsets of users
user_count_subset = user_count_df.head(n=100000)
user_subset = user_count_subset.user

#Subsets of songs
song_count_subset = song_count_df.head(n=30000)
song_subset = song_count_subset.song

In [15]:
#Code to form subsets of with maximum play counts per song and user
triplet_dataset_sub = triplet_dataset[triplet_dataset.user.isin(user_subset)]
del(triplet_dataset)
triplet_dataset_sub_song = triplet_dataset_sub[triplet_dataset_sub.song.isin(song_subset)]
triplet_dataset_sub_song = triplet_dataset_sub_song.reset_index()
triplet_dataset_sub_song.drop(columns = 'index',inplace = True)
del(triplet_dataset_sub)

In [16]:
triplet_dataset_sub_song.head()

                                       user                song  play_count
0  d6589314c0a9bcbca4fee0c93b14bc402363afea  SOADQPP12A67020C82          12
1  d6589314c0a9bcbca4fee0c93b14bc402363afea  SOAFTRR12AF72A8D4D           1
2  d6589314c0a9bcbca4fee0c93b14bc402363afea  SOANQFY12AB0183239           1
3  d6589314c0a9bcbca4fee0c93b14bc402363afea  SOAYATB12A6701FD50           1
4  d6589314c0a9bcbca4fee0c93b14bc402363afea  SOBOAFP12A8C131F36           7

In [17]:
triplet_dataset_sub_song.shape

(10774558, 3)